<meta charset="UTF-8">
<title>Photo application</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
